 
/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
 

.login-container {
  background: #fff;
  padding: 16px;
  text-align: center;
}

/* Every row inside .login-container is defined with p tags */
.login-container p {
  padding: 12px;
} 

 

/*******************************button *********************/
 /**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-givexpert-plugin {
	/* background-color: #21759b;
	color: #fff;
	padding: 2px; */
}

/* Edit class start */
.mb-15 {
	margin-bottom: 15px;
}

.label {
    font-size: 15px;
}

.field {
    font-size: 15px;
}

.field select {
    font-size: 15px !important;
    height: 35px;
}

.field input {
    font-size: 15px;
    height: 35px;
    padding-left: 12px;
    border-radius: 0;
}

.wt-100 {
	width: 100%;
	display: flex;
}

.wt-30 {
	width: 30%;
}

.wt-70 {
	width: 70%;
}

.wt-35 {
	width: 35%;
}

.select-list {
	width: 100%;
	padding-top: 0 !important;
	border: 1px solid !important;
}

.btn-text {
	width: 100%;
	border: 1px solid !important;
}

.logo {
	display: flex;
}

.logo img {
	margin: auto;
}

.label-color {
    width: 40%;
    background-color: #e3e3e3;
    border: 1px solid gray;
    height: 25px;
    font-size: 12px !important;
    text-align: center;
}

.color-choose {
    width: 43%;
    background-color: white;
    border: 1px solid #e3e3e3;
    margin: 0;
    max-height: 25px !important;
    min-height: 20px !important;
    font-size: 12px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.select-color {
    width: 15%;
    height: 25px;
}

.select-color input {
    width: 100%;
    height: 25px;
    padding: 4px 6px;
    border-radius: 0;
    border: 1px;
}

.display-flex {
    display: flex;
}
/* Edit class end */

/* Save class start */
.btn-submit {
	border-radius: 5px;
	outline: none;
    border: 1px black;
}

.btn-submit:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
/* Save class end */